configuration {
    show-icons: false;
}

* {
    background-color: transparent;
    text-color: #e0e0e0;
    font: "JetBrainsMono Nerd Font 8";
}

window {
    transparency: "real";
    background-color: #0e0e12f0;
    border: 1px;
    border-color: #2b2b36;
    border-radius: 20px;
    width: 480px;
    location: center;
    anchor: center;
    padding: 16px;
}

mainbox {
    background-color: transparent;
    children: [ "listview" ];
    spacing: 0px;
}

listview {
    background-color: transparent;
    columns: 3;
    lines: 2;
    spacing: 8px;
    cycle: true;
    dynamic: true;
    layout: vertical;
    fixed-height: true;
    fixed-columns: true;
    cursor: "default";
}

element {
    background-color: #1a1a22;
    text-color: #e0e0e0;
    padding: 16px 8px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px;
    border-color: #262632;
    orientation: vertical;
}

element selected.normal {
    background-color: #2e2e3e;
    border-color: #5c5c78;
    text-color: #ffffff;
}

element-text {
    background-color: transparent;
    text-color: inherit;
    cursor: inherit;
    vertical-align: 0.5;
    horizontal-align: 0.5;
}
