configuration {
show-icons: false;
}

@import "~/.config/rofi/theme.rasi"

window {
transparency: "none";
background-color: #111111;
border: 1px;
border-color: #333333;
border-radius: 24px;
width: 420px;
location: center;
anchor: center;
x-offset: 0;
y-offset: 0;
padding: 24px;
}

mainbox {
background-color: transparent;
children: [ "message", "listview" ];
spacing: 16px;
}

message {
background-color: transparent;
margin: 0px;
}

textbox {
text-color: #ffffff;
background-color: transparent;
horizontal-align: 0.5;
font: "JetBrainsMono Nerd Font 10";
}

listview {
background-color: transparent;
columns: 3;
lines: 2;
spacing: 12px;
cycle: true;
dynamic: true;
layout: vertical;
reverse: false;
fixed-height: true;
fixed-columns: true;
cursor: "default";
}

element {
background-color: #1e1e22;
border-radius: 16px;
padding: 22px 0px;
cursor: pointer;
text-color: #ffffff;
}

element selected.normal {
background-color: #3a3a42;
border: 1px;
border-color: #666675;
text-color: #ffffff;
}

element-text {
background-color: transparent;
text-color: inherit;
font: "JetBrainsMono Nerd Font 22";
cursor: inherit;
vertical-align: 0.5;
horizontal-align: 0.5;
}
